/* ======= TEMA PRETO/CINZA COM FUNDO BRANCO ======= */

body {
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    padding: 0;
    background: #ffffff; /* FUNDO BRANCO */
    color: #333; /* texto cinza escuro */
}

header {
    background: #000;
    color: #fff;
    padding: 15px;
    text-align: center;
    font-size: 22px;
    font-weight: bold;
    letter-spacing: 1px;
}

nav {
    background: #eeeeee;
    padding: 10px;
    display: flex;
    gap: 12px;
    justify-content: center;
    border-bottom: 1px solid #ccc;
}

    nav a {
        text-decoration: none;
        background: #f8f8f8;
        padding: 8px 16px;
        border-radius: 6px;
        border: 1px solid #ccc;
        color: #333;
        font-weight: bold;
        transition: 0.2s;
    }

        nav a:hover {
            background: #ddd;
        }

.container {
    max-width: 900px;
    margin: 25px auto;
    padding: 20px;
    background: #ffffff;
    border-radius: 8px;
    box-shadow: 0 0 8px #0002;
}

.card {
    background: #f2f2f2;
    border: 1px solid #d0d0d0;
    padding: 15px;
    margin-bottom: 15px;
    border-radius: 8px;
}

    .card strong {
        color: #000;
    }

h1 {
    margin-top: 0;
    color: #000;
}

h2 {
    color: #333;
}

a {
    color: #005cbf;
    font-weight: bold;
}

    a:hover {
        color: #003f8c;
    }
